*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-size: var(--text-body);
  font-family: var(--font-main);
  font-weight: var(--fw-md);
  background-color: var(--white);
}

main {
  min-height: 100vh;
}

.container {
  padding: var(--spacing-400) var(--spacing-200);
  display: grid;
  gap: var(--spacing-200);
}

.sr-only {
  display: none;
}

.card {
  padding: var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  border-radius: 10px;
}

.card.one {
  background-color: var(--purple-500);
  color: var(--white);
}

.card.two {
  background-color: var(--grey-500);
  color: var(--white);
}

.card.three {
  background-color: var(--white);
  color: var(--blue-900);
}

.card.four {
  background-color: var(--blue-900);
  color: var(--white);
}

.card.five {
  background-color: var(--white);
  color: var(--blue-900);
}

.testimonial-info {
  display: flex;
  gap: var(--spacing-100);
  align-items: center;
}

.testimonial-info img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.name {
  font-size: var(--text-body);
  font-weight: var(--fw-md);
}

.verified {
  font-size: var(--text-sm);
  font-weight: var(--fw-md);
}

.heading {
  font-weight: var(--fw-md);
  font-size: var(--text-md);
  line-height: 120%;
}
